$background-color: #353b43;
$background-dark: #242930;
$background-darkest: #1d2024;

$text-color: #737f8a;
$text-color-light: #afbac4;

$primary-color: #57cbcc;
$primary-color-dark: #2c9091;
$primary-transparent: rgba(87, 203, 204, 0.7);


$secondary-color: #6cb670;

$white: #fff;
$light-grey: #ddd;
$grey: #666;
$dark-grey: #444;
$black: #000;
$overlay-light: rgba(255, 255, 255, .5);
$overlay: rgba(255, 255, 255, .1);
$overlay-dark: rgba(0, 0, 0, .1);

$image-overlay: rgba(0, 0, 0, 0.7);

$title-font: 'Quattrocento Sans', sans-serif;
$base-font: 'Anaheim', sans-serif;