

$text-color-light: #afbac4;
$white: #fff;
$secondary-color: #6CB670;
$light-grey: #ddd;
$primary-color: #57cbcc;
$grey: #666;
$color_8: #cfcfcf;
$dark-grey: #444;
$red: #D8000C;
$color_11: #555;
$color_12: rgba(187, 187, 187, 0.34);
$black: #000;
$color_14: #4e595f;
$color_15: #888;
$color_16: #55606a;
$secondary-color: #6cb670;
$color_18: #C8C8CA;
$color_19: #9aa8b3;
$color_20: #ffffff;
$color_21: #6c7b8a;
$color_22: #fdfdfd;


$font-family_3: Helvetica Neue, Helvetica, Arial, sans-serif;

$primary-color: #57cbcc;
$white: #fff;
$background-color_5: #2c2f36;
$background-darkest: #1d2024;

$background-color_9: #FFBABA;

$background-dark: #292F36;

$background-color_13: #292f36;
$background-color_14: #26292e;
$background-color_15: #3d444a;
$secondary-color: #6CB670;
$background-color_17: #2f383d;
$background-color_18: #4A535A;
$background-color_19: #2F383D;
$background-color_20: #2E373C;
$background-color_21: #30393e;
$background-color_22: #55acee;
$background-color_23: #2795e9;
$background-color_24: #bd081c;
$background-color_25: #8c0615;
$background-color_26: #3b5998;
$background-color_27: #2d4373;
$background-color_28: #35465C;
$background-color_29: #222d3c;
$background-color_30: #5f99cf;
$background-color_31: #3a80c1;
$background-color_32: #dd4b39;
$background-color_33: #c23321;
$background-color_34: #0077b5;
$background-color_35: #046293;
$background-color_36: #777;
$background-color_37: #5e5e5e;
$background-color_38: #1a7576;
$background-color_39: #114c4c;
$background-color_40: #25D366;
$background-color_41: #1da851;
$background-color_42: #FF6600;
$background-color_43: #FB6200;
$background-color_44: #507299;
$background-color_45: #43648c;
$background-color_46: #777777;
$background-color_47: #1DA851;
$background-color_48: #54A9EB;
$background-color_49: #4B97D1;

$white: #fff;
$primary-color: #57cbcc;
$primary-color-dark: #2c9091;
$secondary-color: #6CB670;
$border-color_6: #3b5998;
$border-color_7: #2d4373;
$border-color_8: #55acee;
$border-color_9: #2795e9;
$border-color_10: #dd4b39;
$border-color_11: #c23321;
$border-color_12: #777777;
$border-color_13: #5e5e5e;
$border-color_14: #5f99cf;
$border-color_15: #3a80c1;
$border-color_16: #25D366;
$border-color_17: #1DA851;
$outline-color_1: #F76C5E;

.slick-slide {
	outline: none;
}


.service-block {
	padding: 60px 20px;
	border-left: 1px solid $overlay;
	border-top: 1px solid $overlay;
	margin-bottom: 40px;
	box-shadow: 2px 2px 5px $overlay-dark, 13px 13px 0 $overlay;
	.service-icon {
		margin-bottom: 10px;
		font-size: 50px;
	}
}
.service-2 {
	.service-item {
		border: 1px solid $light-grey;
		margin-bottom: 30px;
		padding: 50px 20px;
		transition: all 0.3s ease 0s;
		&:hover {
			box-shadow: 0 5px 65px 0 $overlay-dark;
			-webkit-box-shadow: 0 5px 65px 0 $overlay-dark;
			i {
				background: #fff;
				color: $primary-color;
			}
		}
		i {
			font-size: 30px;
			display: inline-block;
			background: $primary-color none repeat scroll 0 0;
			border-radius: 30px;
			box-shadow: 0 5px 6px 0 $overlay-dark;
			color: $white;
			height: 55px;
			line-height: 55px;
			margin-bottom: 20px;
			width: 55px;
			transition: all 0.3s ease 0s;
		}
	}
}




.contact-us {
	padding-top: 50px;
}
.contact-form {
	margin-bottom: 60px;
}
.form-meghna {
	.form-control {
		background-color: transparent;
		border-radius: 0;
		padding: 5px 10px;
		color: $light-grey;
		border: 1px solid rgba(236, 239, 241, 0.07);
		&:focus {
			border-color: none;
			box-shadow: none;
		}
	}
	input {
		&:hover {
			border-color: $border-color_3;
		}
	}
	textarea {
		&:hover {
			border-color: $border-color_3;
		}
	}
	&::placeholder {
		color: $light-grey !important;
	}
}
#contact-submit {
	border: 1px solid rgba(236, 239, 241, 0.07);
	background: #57cbcc;
	padding: 12px 0;
	width: 100%;
	margin: 0;
	&:hover {
		border-color: $primary-color-dark;
		background-color: $primary-color-dark;
	}
}
.google-map {
	#map-canvas {
		height: 400px;
	}
}
.contact-info {
	p {
		margin-bottom: 25px;
	}
}
.con-info {
	margin-bottom: 20px;
	i {
		padding-right: 5px;
	}
	span {
		padding-right: 5px;
	}
}

.error {
	display: none;
	padding: 10px;
	color: $red;
	border-radius: 4px;
	font-size: 13px;
	background-color: $background-color_9;
}
.success {
	background-color: $background-color_10;
	border-radius: 4px;
	color: $white;
	display: none;
	font-size: 13px;
	padding: 10px;
}
#map {
	height: 370px;
	width: 100%;
}
.counters-item {
	padding: 25px 0;
	margin-bottom: 10px;
	background: #292F36;
	i {
		margin-bottom: 10px;
		font-size: 40px;
		display: inline-block;
	}
	span {
		display: block;
		font-weight: bold;
		font-size: 35px;
		line-height: 50px;
	}
	h3 {
		font-size: 20px;
		margin: 0;
	}
}
.price-item {
	border: 1px solid rgba(236, 239, 241, 0.07);
	padding-bottom: 30px;
	margin-bottom: 15px;
}
.price-title {
	background-color: $background-dark;
	padding: 30px 0 20px;
	h3 {
		color: $primary-color;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	p {
		font-size: 18px;
		font-weight: 400;
	}
	.value {
		color: $primary-color;
		font-size: 30px;
	}
}
.pricing {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		padding: 10px 0;
		&:last-child {
			border-bottom: 1px solid rgba(236, 239, 241, 0.07);
			margin-bottom: 20px;
		}
		&:nth-child(2n) {
			background-color: $background-dark;
		}
		.btn {
			text-transform: uppercase;
			margin: 20px 0;
		}
	}
}
.skill-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	p {
		font-size: 18px;
		margin-bottom: 0;
		span {
			font-style: italic;
			font-size: 30px;
			color: $color_12;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.progress {
		height: 6px;
		border-radius: 0;
		.progress-bar {
			background: $primary-color;
		}
	}
}

.testimonial {
	&:before {
		background: rgba(42, 48, 55, 0.7);
	}
}
.client-info {
	margin: 0 auto;
	width: 45%;
}
.client-comment {
	p {
		color: $text-color-light;
		font-size: 18px;
	}
}
.client-thumb {
	img {
		border-radius: 50%;
		margin: 0 auto;
		max-width: 115px;
		width: 100%;
	}
}
.client-meta {
	margin: 0 0 10px;
	h3 {
		margin: 15px 0 5px .0;
	}
	span {
		font-size: 12px;
	}
}
.owl-pagination {
	text-align: center;
}
.owl-buttons {
	text-align: center;
}
.owl-controls {
	.owl-page {
		display: inline-block;
		span {
			background-color: transparent;
			border: 2px solid #fff;
			border-radius: 50px;
			display: block;
			height: 13px;
			margin: 0 4px;
			width: 13px;
			opacity: 1;
			filter: alpha(opacity=100);
		}
		&:hover {
			span {
				background-color: $primary-color;
				border: 2px solid transparent;
			}
		}
	}
	.owl-page.active {
		span {
			background-color: $primary-color;
			border: 2px solid transparent;
		}
	}
}
.our-clients {
	margin: 30px 0 0;
}
#our-clietns {
	.item {
		img {
			max-width: 150px;
			width: 100%;
		}
	}
	.owl-next {
		border: 1px solid #ddd;
		border-radius: 50px;
		display: inline-block;
		margin: 45px 0 0;
		padding: 3px 15px;
		position: relative;
		text-align: center;
		i {
			line-height: 34px;
		}
	}
	.owl-prev {
		border: 1px solid #ddd;
		border-radius: 50px;
		display: inline-block;
		margin: 45px 0 0;
		padding: 3px 15px;
		position: relative;
		text-align: center;
		margin-right: 15px;
		i {
			line-height: 34px;
		}
	}
}
#our-clients {
	.item {
		margin: 10px;
	}
}
.note {
	background-color: $background-dark;
	border: 1px solid #4e595f;
	.media-wrapper {
		border-bottom: 1px solid #4e595f;
	}
	.excerpt {
		h3 {
			font-size: 20px;
			line-height: 1.5;
			text-transform: capitalize;
		}
	}
}



.single-blog {
	background-color: $white;
	margin-bottom: 50px;
	padding: 20px;
	background-color: $white;
	margin-bottom: 50px;
	padding: 20px;
}
.blog-subtitle {
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.next-prev {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	margin: 20px 0;
	padding: 25px 0;
	border-bottom: 1px solid #4e595f;
	border-top: 1px solid #4e595f;
	margin: 20px 0;
	padding: 15px 0 10px;
	a {
		color: $black;
		&:hover {
			color: $primary-color;
			color: $secondary-color;
		}
	}
	.prev-post {
		i {
			margin-right: 10px;
		}
	}
	.next-post {
		i {
			margin-left: 10px;
		}
	}
}
.social-profile {
	ul {
		li {
			margin: 0 10px 0 0;
			display: inline-block;
			a {
				color: $color_14;
				display: block;
				font-size: 16px;
				i {
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
}
.comments-section {
	margin-top: 35px;
}
.author-about {
	margin-top: 40px;
	>h4 {
		border-bottom: 1px solid #4e595f;
		margin-bottom: 15px;
		margin-top: 0;
		padding-bottom: 10px;
		position: relative;
	}
}
.post-author {
	margin-right: 20px;
	margin-right: 20px;
	>img {
		border: 1px solid #dedede;
		max-width: 120px;
		padding: 5px;
		width: 100%;
		border: 1px solid #4e595f;
		max-width: 120px;
		padding: 5px;
		width: 100%;
	}
}
.comment-list {
	ul {
		margin-top: 20px;
		margin-top: 20px;
		li {
			margin-bottom: 20px;
			padding-left: 25px;
		}
	}
	li {
		margin-bottom: 20px;
	}
}
.comment-wrap {
	border: 1px solid #dedede;
	border-radius: 1px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	border: 1px solid #4e595f;
	border-radius: 1px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	.author-avatar {
		margin-right: 10px;
		margin-left: -25px;
		margin-right: 20px;
	}
	.media {
		.media-heading {
			font-size: 14px;
			margin-bottom: 8px;
			a {
				color: $primary-color;
				font-size: 13px;
			}
		}
		.comment-meta {
			font-size: 12px;
			color: $color_15;
		}
		p {
			margin-top: 15px;
		}
	}
}
.comment-reply-form {
	margin-top: 80px;
	margin-top: 80px;
	input {
		height: 35px;
		border-radius: 0;
		box-shadow: none;
		&:focus {
			box-shadow: none;
			border: 1px solid #57cbcc;
		}
	}
	textarea {
		height: 35px;
		border-radius: 0;
		box-shadow: none;
		height: auto;
		&:focus {
			box-shadow: none;
			border: 1px solid #57cbcc;
		}
	}
	.btn-main {
		height: auto;
	}
	>h3 {
		border-bottom: 1px solid #4e595f;
		margin-bottom: 15px;
		margin-top: 0;
		padding-bottom: 10px;
		position: relative;
	}
}
#staticman-form {
	&:before {
		display: block;
		height: 90px;
		margin-top: -90px;
		visibility: hidden;
		content: "";
	}
}
.post-comment {
	background-color: $background-color_13;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.post-comment-header {
	margin-bottom: 20px;
}
.post-comment-avatar {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}
.post-comment-info {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
}
.post-comment-field {
	display: block;
	font: inherit;
	padding: 10px;
	margin-top: 20px;
	outline-color: $outline-color_1;
	width: 100%;
}
.post-comment-name {
	color: $text-color-light;
	font-weight: 500;
	font-size: 18px;
}
.post-time {
	color: $text-color;
}
input#e-mail {
	display: none;
}
#hidden_iframe {
	display: none;
}
.twitter-bird {
	span {
		border: 2px solid #6cb670;
		border-radius: 50px;
		color: $color_17;
		display: inline-block;
		margin-bottom: 50px;
		height: 90px;
		width: 90px;
		i {
			line-height: 90px;
		}
	}
}
.tweet {
	margin-bottom: 10px;
	a {
		color: $color_17;
	}
}
.blog-icon {
	border: 1px solid #6CB670;
	border-radius: 50%;
	color: $secondary-color;
	display: inline-block;
	padding: 16px 20px;
}
.blog-title {
	h1 {
		text-transform: uppercase;
	}
}
.post-item {
	.entry {
		border: 1px solid #4e595f;
		margin-bottom: 30px;
	}
	.comments-section {
		margin-top: 35px;
	}
}
.entry {
	.post-excerpt {
		padding: 0 20px;
	}
}
#gallery-post {
	.owl-prev {
		padding: 5px 17px;
		position: absolute;
		top: 45%;
		transition: all .5s ease-in 0s;
		left: -45px;
	}
	.owl-next {
		padding: 5px 17px;
		position: absolute;
		top: 45%;
		transition: all .5s ease-in 0s;
		right: -45px;
	}
	&:hover {
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	overflow-x: hidden;
}
#post-thumb {
	.owl-prev {
		padding: 5px 17px;
		position: absolute;
		top: 45%;
		transition: all .5s ease-in 0s;
		left: -45px;
	}
	.owl-next {
		padding: 5px 17px;
		position: absolute;
		top: 45%;
		transition: all .5s ease-in 0s;
		right: -45px;
	}
	&:hover {
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	overflow-x: hidden;
	.owl-buttons {
		color: $white;
	}
}
aside.widget {
	margin-bottom: 25px;
}
.widget-title {
	>h3 {
		color: $white;
		margin-bottom: 15px;
		margin-top: 0;
		position: relative;
	}
}
#search-form {
	position: relative;
}
#search-submit {
	background: none;
	border: 0;
	color: $color_18;
	display: block;
	font-size: 16px;
	height: 32px;
	outline: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 32px;
}
.widget-content {
	.tab-content {
		background-color: $background-color_17;
		padding: 20px;
	}
	.tag {
		background-color: $background-color_19;
		color: $white;
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 5px;
		padding: 5px 13px;
		&:hover {
			background-color: $secondary-color;
			color: $white;
		}
	}
}
.tab-post-nav {
	background-color: $background-color_18;
	li {
		float: left;
		a {
			border-top: 3px solid transparent;
			color: $white;
			display: block;
			padding: 13px 18px;
			text-align: center;
		}
	}
	li.active {
		a {
			border-top: 3px solid #6cb670;
			background-color: $background-color_19;
			color: $secondary-color;
		}
	}
}
.tab-pane.active {
	.clearfix {
		&:first-child {
			margin-bottom: 25px;
		}
	}
}
.tab-excerpt {
	>span {
		display: block;
		font-size: 12px;
		margin-bottom: 10px;
	}
	h4 {
		a {
			color: $white;
			&:hover {
				color: $color_17;
			}
		}
	}
}
.categories {
	li {
		margin-bottom: 10px;
		transition: all .5s ease-in 0s;
		a {
			padding-left: 5px;
		}
	}
	>li {
		&:hover {
			a {
				padding-left: 10px;
				color: $secondary-color;
			}
		}
		&:last-child {
			border-bottom: 0;
		}
	}
}
.post-pagination {
	display: inline-block;
	margin-bottom: 20px;
	ul {
		li {
			margin-right: 5px;
			float: left;
			&:last-child {
				margin-right: 0;
			}
			a {
				background-color: $background-color_21;
				color: $color_19;
				display: block;
				padding: 8px 18px;
				&:hover {
					background-color: $secondary-color;
					color: $white;
				}
			}
		}
		li.disabled {
			a {
				cursor: not-allowed;
				&:hover {
					background-color: $background-color_20;
					color: $color_19;
				}
			}
		}
		li.active {
			a {
				background-color: $secondary-color;
				color: $white;
			}
		}
	}
}
blockquote {
	border-left: 5px solid #6cb670;
	font-style: italic;
	line-height: 22px;
	padding: 20px 20px 10px 20px;
	margin: 20px 0;
}
.prev-post {
	i {
		float: left;
		margin-right: 10px;
		margin-top: -4px;
	}
}
.next-post {
	i {
		float: right;
		margin-left: 10px;
		margin-top: -3px;
	}
}
.comments {
	>h4 {
		border-bottom: 1px solid #4e595f;
		margin-bottom: 15px;
		margin-top: 0;
		padding-bottom: 10px;
		position: relative;
	}
}
.author-bio {
	h5 {
		display: inline-block;
	}
}
.author-comment {
	margin-bottom: 15px;
	overflow: hidden;
	cite {
		a {
			&:hover {
				color: $secondary-color;
				text-decoration: underline;
			}
		}
		margin-bottom: 2px;
		padding-top: 4px;
	}
}
.replay {
	&:hover {
		color: $secondary-color;
		text-decoration: underline;
	}
}
.comment-content {
	margin-left: 45px;
}
#comment-form {
	margin-top: 35px;
	.form-control {
		&:hover {
			border-color: $border-color_5;
		}
	}
}
.form-group {
	&:last-child {
		margin: 0;
		input {
			margin: 0;
		}
	}
}
.form-control-meghna {
	.form-control {
		background-color: transparent;
		padding: 5px 10px;
		color: $light-grey;
		border: 1px solid rgba(236, 239, 241, 0.07);
		&:focus {
			border-color: $border-color_3;
			box-shadow: 0 0 0 0.2rem rgba(0, 174, 255, 0.432);
		}
	}
}
figcaption {
	text-align: center;
}
.resp-sharing-button__link {
	display: inline-block;
	text-decoration: none;
	color: $white;
	margin: 0.5em;
}
.resp-sharing-button__icon {
	display: inline-block;
	stroke: #fff;
	fill: none;
	svg {
		width: 1em;
		height: 1em;
		margin-right: 0.4em;
		vertical-align: top;
	}
}
.resp-sharing-button {
	border-radius: 0;
	transition: 25ms ease-out;
	padding: 0.5em 0.75em;
	font-family: $font-family_3;
}
.resp-sharing-button--small {
	svg {
		margin: 0;
		vertical-align: middle;
	}
}
.resp-sharing-button__icon--solid {
	fill: #fff;
	stroke: none;
}
.resp-sharing-button__icon--solidcircle {
	fill: #fff;
	stroke: none;
}
.resp-sharing-button--twitter {
	background-color: $background-color_22;
	background-color: $background-color_22;
	border-color: $border-color_8;
	&:hover {
		background-color: $background-color_23;
		background-color: $background-color_23;
		border-color: $border-color_9;
	}
	&:active {
		background-color: $background-color_23;
		border-color: $border-color_9;
	}
}
.resp-sharing-button--pinterest {
	background-color: $background-color_24;
	&:hover {
		background-color: $background-color_25;
	}
}
.resp-sharing-button--facebook {
	background-color: $background-color_26;
	background-color: $background-color_26;
	border-color: $border-color_6;
	&:hover {
		background-color: $background-color_27;
		background-color: $background-color_27;
		border-color: $border-color_7;
	}
	&:active {
		background-color: $background-color_27;
		border-color: $border-color_7;
	}
}
.resp-sharing-button--tumblr {
	background-color: $background-color_28;
	&:hover {
		background-color: $background-color_29;
	}
}
.resp-sharing-button--reddit {
	background-color: $background-color_30;
	background-color: $background-color_30;
	border-color: $border-color_14;
	&:hover {
		background-color: $background-color_31;
		background-color: $background-color_31;
		border-color: $border-color_15;
	}
	&:active {
		background-color: $background-color_31;
		border-color: $border-color_15;
	}
}
.resp-sharing-button--google {
	background-color: $background-color_32;
	background-color: $background-color_32;
	border-color: $border-color_10;
	&:hover {
		background-color: $background-color_33;
		background-color: $background-color_33;
		border-color: $border-color_11;
	}
	&:active {
		background-color: $background-color_33;
		border-color: $border-color_11;
	}
}
.resp-sharing-button--linkedin {
	background-color: $background-color_34;
	&:hover {
		background-color: $background-color_35;
	}
}
.resp-sharing-button--email {
	background-color: $background-color_36;
	background-color: $background-color_46;
	border-color: $border-color_12;
	&:hover {
		background-color: $background-color_37;
		background-color: $background-color_37;
		border-color: $border-color_13;
	}
	&:active {
		background-color: $background-color_37;
		border-color: $border-color_13;
	}
}
.resp-sharing-button--xing {
	background-color: $background-color_38;
	&:hover {
		background-color: $background-color_39;
	}
}
.resp-sharing-button--whatsapp {
	background-color: $background-color_40;
	background-color: $background-color_40;
	border-color: $border-color_16;
	&:hover {
		background-color: $background-color_41;
		background-color: $background-color_47;
		border-color: $border-color_17;
	}
	&:active {
		background-color: $background-color_47;
		border-color: $border-color_17;
	}
}
.resp-sharing-button--hackernews {
	background-color: $background-color_42;
	&:hover {
		background-color: $background-color_43;
	}
	&:focus {
		background-color: $background-color_43;
	}
}
.resp-sharing-button--vk {
	background-color: $background-color_44;
	&:hover {
		background-color: $background-color_45;
	}
}
.resp-sharing-button--telegram {
	background-color: $background-color_48;
	&:hover {
		background-color: $background-color_49;
	}
}

#select-language {
	background: #353b43;
	color: $color_20;
	border: 0;
}
.simple-icon {
	color: $color_21;
	padding: 10px;
	display: block;
}
.cookie-box {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 1rem 2rem;
	background: rgb(71, 71, 71);
	transition: all .75s cubic-bezier(.19, 1, .22, 1);
	color: $color_22;
}
.cookie-box-hide {
	display: none;
}
@media (max-width: 480px) {
	.section {
		padding: 50px 0;
	}
	.hero-area {
		.block {
			h1 {
				font-size: 60px;
			}
		}
	}
}
@media (max-width: 768px) {
	.section {
		padding: 80px 0;
	}
	.contact-us {
		padding-top: 80px;
	}
	.member-photo {
		text-align: center;
		img {
			display: inline-block;
		}
	}
	.client-info {
		width: 90%;
	}
	#staticman-form {
		&:before {
			display: block;
			height: 80px;
			margin-top: -80px;
			visibility: hidden;
			content: "";
		}
	}
}
